

/* Переменные */

:root {
    --c01: #311F09;
    --c02: #FF8A00;
    --c03: #3FA72F;
    --c04: #FFE6C9;
}



/* Общие стили */

body, html{
    font-family: "Poppins", sans-serif;
    font-size: 20px;

    scroll-behavior: smooth;

    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1237px;

    margin: 0px auto;
}



/* Header */

header{
    margin-top: 50px;
}

.header_content{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.header_content_last{
    display: flex;

    align-items: center;
}

.header_content_last img{
    margin-right: 30px;
}

.header_content_last a.btn{
    text-decoration: none;
    background-color: var(--c03);
    color: #fff;

    border-radius: 133px;

    padding: 15px 35px;

    transition: background-color .32s ease;
}

.header_content_last a.btn:hover{
    background-color: var(--c02);
}

nav a{
    text-decoration: none;
    color: var(--c01);

    margin-right: 45px;

    transition: all .25s ease; 
    display: inline-block;
}

nav a:hover{
    color: var(--c03);
    transform: scale(1.05);
}

nav a:last-of-type{
    margin-right: 0;
}

nav a.li1{
    color: var(--c02);
}



/* Main */

main{
    margin-top: 150px;
}

.main_content{
    display: flex;
    justify-content: space-between;
}

.main_content_title{
    color: var(--c02);
    background-color: var(--c04);

    padding: 10px 34px;
    border-radius: 125px;
    display: inline-block;

    margin-bottom: 25px;
}

.main_content h1{
    color: var(--c01);
    font-size: 70px;
    font-family: "Raleway", sans-serif;

    line-height: 110%;
    font-weight: 700;

    margin-bottom: 30px;

    /* Возвращаюсь в начало CSS файла и отключаю отступы для всех заголовков и абзацев, так как они по умолчанию присутствуют у браузера */
}

.main_content p{
    line-height: 200%;
    color: var(--c01);

    margin-bottom: 75px;
}

.main_content_buttons{
    display: flex;
}

.m_c_btn1{
    background-color: var(--c02);
    border-radius: 160px;
    color: #fff;
    text-decoration: none;

    transition: transform .33s ease;
    display: inline-block;

    padding: 15px 50px;
}

.m_c_btn2{
    background-color: var(--c03);
    border-radius: 160px;
    color: #fff;
    text-decoration: none;

    padding: 15px 60px;
    margin-left: 22px;

    transition: transform .33s ease;
    display: inline-block;
}

.main_content_buttons a:hover{
    transform: scale(1.05);
}



/* Welcome */

.welcome{
    background-color: rgba(63, 198, 110, 0.1);

    padding-top: 147px;
    padding-bottom: 132px;
}

.welcome_all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome_all h2{
    line-height: 110%;
    font-size: 80px;
    font-family: "Tinos", serif;
    font-weight: 700;
    color: var(--c01);

    margin-bottom: 60px;
}

.welcome_all h2 span{
    color: var(--c02);
}

.welcome_all p{
    color: #5C4529;
    line-height: 200%;

    margin-bottom: 120px;
}

.welcome_all a{
    background-color: var(--c02);
    color: #fff;
    padding: 17px 45px;
    border-radius: 160px;
    text-decoration: none;

    transition: all .33s ease;
    display: inline-block;
}

.welcome_all a:hover{
    transform: scale(1.07);
    background-color: var(--c03);
}



/* Menu */

.menu{
    padding-top: 164px;
    padding-bottom: 200px;
}

.menu h2{
    font-family: "Tinos", serif;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 200%;
    color: var(--c01);

    margin-bottom: 60px;
}

.menu_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 66px;
}

.menu_buttons a{
    background-color: rgba(208, 204, 199, 0.2);
    color: var(--c01);
    font-size: 20px;
    text-decoration: none;
    padding: 17px 62px;
    border-radius: 160px;

    transition: background-color .3s ease;
}

.menu_buttons a:hover{
    background-color: var(--c02);
}

.menu_buttons .checked{
    background-color: var(--c01);
    color: #fff;
}

.menu_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu_item{
    width: 32%;
    background-color: rgba(208, 204, 199, 0.18);
    border-radius: 70px;
    text-align: center;

    padding: 29px 35px;
    margin-bottom: 40px;
}

.menu_item h3{
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;

    margin-bottom: 5px;
}

.menu_item_rating{
    margin-bottom: 15px;
}

.menu_item_rating img{
    margin-right: 10px;
}

.menu_item_rating img:last-of-type{
    margin-right: 0;
}

.menu_item p{
    font-size: 15px;
    line-height: 170%;
    color: #59442B;

    margin-bottom: 10px;
}

.menu_item_last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_item_last_price{
    font-weight: 600;
    font-size: 25px;
}

.menu_item_last a{
    background-color: var(--c02);
    color: #fff;
    text-decoration: none;
    padding: 11px 36px;
    font-size: 18px;
    border-radius: 160px;

    transition: background-color .3s ease;
}

.menu_item_last a:hover{
    background-color: var(--c03);
}

.menu_pag{
    display: flex;
    justify-content: center;
}

.menu_pag a{
    text-decoration: none;
}

.back{
    background-color: var(--c01);
    border-radius: 15px;
    color: #fff;

    height: 55px;
    width: 55px;

    position: relative;

    margin-right: 30px;
}

.back span{
    position: absolute;/* Выравнивание по центру до параметра transform*/

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: 200;
}

.page{
    background-color: rgb(255, 138, 0, 0.1);

    width: 55px;
    height: 55px;
    border-radius: 15px;

    margin-right: 15px;
    position: relative;
}

.page span{
    color: var(--c02);
    font-weight: 600;
    font-size: 18px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.dot{
    position: relative;

    width: 55px;
    height: 55px;
}

.dot span{
    color: #B7A28B;
    font-size: 26px;
    font-weight: 800;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.next{
    background-color: var(--c01);
    border-radius: 15px;
    color: #fff;

    height: 55px;
    width: 55px;

    position: relative;

    margin-left: 45px;
}

.next span{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: 200;
}



/* Reserve */

.reserve{
    background-color: rgba(255, 244, 231, 0.46);

    padding-top: 113px;
    padding-bottom: 40px;
}

.reserve .container{
    max-width: 1500px;
    margin-right: 100px;
}

.reserve_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reserve_right{
    margin-left: 100px;
}

.reserve_right h2{
    font-family: "Tinos", serif;
    font-size: 74px;
    font-weight: 700;
    line-height: 110%;
    color: var(--c01);

    margin-bottom: 50px;
}

.reserve_right h2 span{
    color: var(--c02);
}

.reserve_right p{
    font-size: 20px;
    line-height: 200%;
    color: #5C4529;

    margin-bottom: 130px;
}

.reserve_right a{
    padding: 17px 55px;
    border-radius: 160px;
    background-color: var(--c02);
    color: #fff;
    text-decoration: none;
}

.reserve_left{
    margin-left: -80px;
}



/* Chefs */

.chefs{
    padding-top: 175px;
    padding-bottom: 250px;
    text-align: center;
}

.chefs h2{
    line-height: 200%;
    font-size: 72px;
    font-family: "Tinos", serif;
    font-weight: 700;
    text-align: center;

    margin-bottom: 135px;
}

.chefs_inner{
    display: flex;
    justify-content: space-between;

    margin-bottom: 150px;
}

.chef_item{
    text-align: center;
}

.chef_item h3{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: var(--c01);
}

.chef_item p{
    color: #A08D76;
    line-height: 200%;
}

a.chefs_all{
    background-color: var(--c02);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 17px 75px;
    border-radius: 160px;

    transition: all .4s ease;
    display: inline-block;
}

a.chefs_all:hover{
    background-color: var(--c03);
    transform: scale(1.07);
}



/* Clients */

.clients{
    background-color: rgba(208, 204, 199, .1);
    padding: 70px 0px 100px 0px;
}

.clients_inner{
    background-image: url(../img/clients/BGcust.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.clients_title{
    font-size: 74px;
    font-family: "Tinos", serif;
    font-weight: 700;
    line-height: 200%;
    color: var(--c01);

    margin-bottom: 57px;
}

.clients_about_img{
    margin-bottom: 45px;
}

.clients_about_title{
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;
    color: var(--c01);
}

.clients_about_text{
    color: #5C4529;
    font-size: 20px;
    line-height: 200%;

    margin-bottom: 65px;
}

.clients_about_inner{
    position: relative;

    width: 530px;
    margin-left: auto;
    margin-right: auto;
}

.clients_about_inner p{
    font-size: 20px;
    font-family: "Tinos", serif;
    line-height: 170%;
    color: #5C4529;
}

#dot1{
    position: absolute;

    top: -45;
    left: -45;
    transform: rotate(180deg);
}

#dot2{
    position: absolute;

    bottom: -45;
    right: -45;
}